RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . /expired.html [L,R=301]

<FilesMatch ".">
   <If "%{QUERY_STRING} =~ /__p=1/">
   
   </If>
    <Else>
      ForceType application/octet-stream
      Header set Content-Disposition attachment
   </Else>
</FilesMatch>
